* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 90%;
    max-height: 90%;
}

.container > h1 {
    color: #262626;
}

.container-text {
    display: flex;
    border: 1px solid #770d0d;
    background-color: rgba(204, 77, 77, 0.3);
    color: #770d0d;
    padding: 5px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 0.9rem;
}

.container-text > img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    opacity: 0.7;
}

.container-main {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.left, .right {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    background: linear-gradient(90deg, #2a3b75, #000000);
    color: #ddd;
    height: 160px;
    width: 270px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.img-chip {
    width: 40px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 90%;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.two-inputs {
    display: flex;
    gap: 5px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.two {
    width: 50%;
}

#number, #data, #cvv, #name {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 5px;
}

.form-inputs button {
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #2e4aeb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#src-bandeira {
    position: absolute;
    right: 0;
    top: -10px;
}

.card-name {
    position: relative;
}

.card-back {
    display: none;
}

.back {
    background: linear-gradient(90deg, #2a3b75, #000000);
    color: #ddd;
    height: 200px;
    width: 310px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.line-black {
    width: 100%;
    background-color: #000;
    height: 40px;
    margin-top: 30px;
}

.line-cvv {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    color: #000;
    margin: 10px;
    opacity: 0.7;
    text-align: end;
    padding: 5px;
    max-width: 90%;
}