* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.container {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container > h1 {
    color: #262626;
}

.container-text {
    display: flex;
    border: 1px solid rgba(77, 10, 10, 0.3);
    background-color: rgba(153, 42, 42, 0.3);
    color: #b91717;
    padding: 5px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 0.9rem;
}

.container-text > img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.container-main {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
}

.left, .right {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    background: linear-gradient(90deg, #2a3b75, #000000);
    color: #ddd;
    height: 160px;
    width: 270px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.img-chip {
    width: 40px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.two-inputs {
    display: flex;
    gap: 10px;
}

#number, #data, #cvv, #name {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 5px;
}

.form-inputs button {
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #2e4aeb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#src-bandeira {
    position: absolute;
    right: 0;
    top: -10px;
}

.card-name {
    position: relative;
}

.alerta-secundario {
    border: 1px solid rgba(77, 10, 10, 0.3);
    background-color: rgba(153, 42, 42, 0.3);
    color: #b91717;
    padding: 5px;
    margin: 10px 0;
    font-size: 0.9rem;
}